!!!
html
  head
    title= 'Agenda Book'
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/lodash.js')
    script(type='text/javascript', src='/js/backbone-min.js')
    script(type='text/javascript', src='/js/logout.js')
  body
    .app
      #header
        h1
          a(href='/') Agenda Book
        - if (info != undefined && info.length != 0)
          each message in info
            div.success
              p= message
        - if (error != undefined && error.length != 0)
          each message in error
            div.error
              p #{message}
        - if (typeof currentUser !== 'undefined')
          a#logout(href='/sessions') Log Out
      block content
