extends layout

block content
  div#list
    header
      .control-group
        input.input-block-level(id='new-assignment', type='text', placeholder='What needs to be done?')
      #expand
        .form-horizontal
          .control-group
            label.control-label(for='priority') Priority
            .controls
              input.span1(id='priority', type='number', min='0', max='9', placeholder='0')
          .control-group
            label.control-label(for='dueDate') Due Date
            .controls
              input.span2(id='dueDate', type='date')
          .control-group
            .controls
              input.btn.btn-success(id='submit', type='button', value='Submit')
    section#main
      label.checkbox(for='toggle-all')
        input(id='toggle-all', type='checkbox')
        |  Mark all as complete
      ul#assignment-list
    footer
      a#clear-completed Clear Completed
      div#assignment-count

block footer
  div#footer
    | Created by 
    a(href='https://mbilker.us') mbilker
