extends ../layout

block content
  - //script(type='text/javascript', src='/templates/templates.js')
  script(type='text/javascript', src='/js/client.js')
  div#list
    header
      .control-group
        input.input-block-level(id='new-assignment', type='text', placeholder='What needs to be done?')
      .form-horizontal
        .control-group
          label.control-label(for='priority') Priority
          .controls
            input.span1(id='priority', type='number', min='0', max='9', placeholder='0')
        .control-group
          label.control-label(for='dueDate') Due Date
          .controls
            input.span2(id='dueDate', class='span2', type='date')
        .control-group
          .controls
            input.btn(id='submit', type='button', value='Submit')
    section#main
      label.checkbox
        input(id='toggle-all', type='checkbox')
        |  Mark all as complete
      ul#assignment-list
    footer
      a#clear-completed Clear Completed
      div#assignment-count

block footer
  div#instructions
    | Double-click to edit an assignment.
  div#credits
    | Modified by
    br
    a(href='http://mbilker.us/') mbilker
    br
    | Created originally by
    br
    a(href='http://jgn.me/') J&eacute;r&ocirc;me Gravel-Niquet
  script(type='text/template', id='item-template').
    <div class="view">
      <input class="toggle" type="checkbox" <%= completed ? 'checked="checked"' : '' %> />
      <h4 style="display:inline-block"><%- title %></h4>
      <p>Due: <%= new Date(dueDate).toDateString() %> - Priority: <%- priority %></p>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
  script(type='text/template', id='stats-template').
    <% if (done) { %>
      <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
    <% } %>
    <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
