extends ../layout

append head
  script(type='text/javascript').
    require(['/js/client.js']);

block content
  div#list
    header
      .control-group
        input.input-block-level(id='new-assignment', type='text', placeholder='What needs to be done?')
      #expand
        .form-horizontal
          .control-group
            label.control-label(for='priority') Priority
            .controls
              input.span1(id='priority', type='number', min='0', max='9', placeholder='0')
          .control-group
            label.control-label(for='dueDate') Due Date
            .controls
              input.span2(id='dueDate', type='date')
          .control-group
            .controls
              input.btn(id='submit', type='button', value='Submit')
    section#main
      label.checkbox
        input(id='toggle-all', type='checkbox')
        |  Mark all as complete
      ul#assignment-list
    footer
      a#clear-completed Clear Completed
      div#assignment-count

block footer
  div#instructions
    | Double-click to edit an assignment.
  div#credits
    | Modified by
    br
    a(href='http://mbilker.us/') mbilker
    br
    | Created originally by
    br
    a(href='http://jgn.me/') J&eacute;r&ocirc;me Gravel-Niquet
