// This file is part of Agenda Todos.

// Agenda Todos is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Agenda Todos is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Agenda Todos.  If not, see <http://www.gnu.org/licenses/>.

@import 'methods'

html, body
  margin 0
  padding 0

body
  -webkit-font-smoothing antialiased

.expand
  padding-top 15px
  overflow hidden

.app
  width 520px
  padding 20px
  background-color #DADFE1

  h1
    font-weight bold
    text-align center

  footer
    margin 0 -20px -20px -20px
    padding 0 20px
    background-color #5bb75b
    line-height 37px
    overflow hidden

.task-list
  padding-bottom 10px
  border-top 1px solid #95a5a6

  .task-item
    padding 10px 20px 10px 0
    position relative
    border-bottom 1px solid #95a5a6

  .task-item .checkbox
    margin-top 0px
    margin-bottom 0px

  .task-item.done .view label
    color #777777
    text-decoration line-through

  .destroy
    position absolute
    right 5px
    top 20px
    display none
    cursor pointer
    width 20px
    height 20px
    background url(/img/destroy.png) no-repeat

  .task-item:hover .destroy
    display block

  .destroy:hover
    background-position 0 -20px

  .details, .edit-text
    font-size 12px

  .priority0
    priority(0)

  .priority1
    priority(1)

  .priority2
    priority(2)

  .priority3
    priority(3)

  .priority4
    priority(4)

  .priority5
    priority(5)

  .priority6
    priority(6)

  .priority7
    priority(7)

  .priority8
    priority(8)

  .priority9
    priority(9)

  .priority
    position absolute
    right 30px
    top 20px
    cursor pointer
    width 20px
    height 20px
    border-radius 50%

.clear-completed
  float right
  line-height 20px
  text-decoration none
  background rgba(0, 0, 0, 0.1)
  color #555555
  font-size 11px
  margin-top 8px
  margin-bottom 8px
  padding 0 10px 1px
  cursor pointer
  vendor('border-radius', 12px)
  vendor('box-shadow', rgba(0, 0, 0, 0.2) 0 -1px 0 0)

.clear-completed:hover
  background rgba(0, 0, 0, 0.15)
  vendor('box-shadow', rgba(0, 0, 0, 0.3) 0 -1px 0 0)

.clear-completed:active
  position relative
  top 1px

.app-footer
  margin 10px auto
  color #95a5a6
  text-align center
