extends ../layout

block content
  .page
    h2 Log In
    p
      a.button(href='/users/new') Create an account &rarr;
    form.form-horizontal#login(method='post', action='/sessions')
      include ../users/fields
      .control-group
        label.control-label(for='remember_me') Remember Me
        .controls
          input#remember_me(type='checkbox', name='remember_me')
      .control-group
        .controls
          input.btn(type='submit', value='Log In')