.form-group
  label.col-sm-3.control-label(for='username') Username
  .col-sm-5
    input.form-control#username(name='user[username]', type='text', value=user.username || '')

- if (typeof register !== 'undefined')
  .form-group
    label.col-sm-3.control-label(for='firstName') First Name
    .col-sm-5
      input.form-control#email(name='user[firstName]', type='text', value=user.firstName || '')
  .form-group
    label.col-sm-3.control-label(for='lastName') Last Name
    .col-sm-5
      input.form-control#email(name='user[lastName]', type='text', value=user.lastName || '')
  .form-group
    label.col-sm-3.control-label(for='email') Email
    .col-sm-5
      input.form-control#email(name='user[email]', type='text', value=user.email || '')

.form-group
  label.col-sm-3.control-label(for='password') Password
  .col-sm-5
    input.form-control#password(name='user[password]', type='password', value='')
