extends ../layout

block content
  .page
    h2 Register

    form.form-horizontal(method='post', action='/users')
      include fields
      .control-group
        .controls
          input.btn(type='submit', value='Register')
          span  or 
            a.btn(href='/sessions/new') Go to Log In