extends ../layout

block content
  .page
    h2 Register

    form.form-horizontal(method='post', action='/users')
      include fields
      .form-group
        .col-sm-offset-3.col-sm-6
          input.btn(type='submit', value='Register')
          |  or 
          a(href='/sessions/new') Go to Log In
