<div class="list-header">
  <form ng-submit="addNew()">
    <input class="form-control" type="text" placeholder="What needs to be done?" ng-model="assignmentTitle">
    <div class="expand" ng-if="assignmentTitle.length">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="priority">Priority</label>
          <div class="col-sm-5">
            <input id="priority" class="form-control" type="number" min="0" max="9" placeholder="0" ng-model="$parent.priority">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="dueDate">Due Date</label>
          <div class="col-sm-5">
            <dateinput id="dueDate" class="form-control" ng-model="$parent.dueDate"></dateinput>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-3">
          <input class="btn btn-default" type="submit" value="Submit">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="main">
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="toggleAll"> Mark all as completed
    </label>
  </div>
  <div class="task-list">
    <div class="task-item" ng-repeat="entry in assignments | orderBy:comparator">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="entry.completed" ng-change="updateEntry(entry)">{{entry.title}}
        </label>
      </div>
      <span class="details">Due: {{dueDateFor(entry)}} - Priority: {{entry.priority}}</span>
      <a class="edit-text" ng-click="editText(entry)">Edit Text</a>
      <span class="priority priority{{entry.priority}}"></span>
      <a class="destroy" ng-click="destroy(entry)"></a>
    </div>
  </div>
</div>
<footer>
  <a class="clear-completed" ng-if="tasksCompleted()"ng-click="clearCompleted()">Clear {{tasksCompleted()}} completed {{tasksCompleted() == 1 ? 'item' : 'items'}}</a>
  <b>{{remaining()}}</b> {{remaining() == 1 ? 'item' : 'items'}} left
</footer>
