border-radius()
  -webkit-border-radius 0 0 arguments arguments
  -moz-border-radius 0 0 arguments arguments
  -ms-border-radius 0 0 arguments arguments 
  -o-border-radius 0 0 arguments arguments
  border-radius 0 0 arguments arguments

html, body
  margin 0
  padding 0

body
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif
  line-height: 1.4em
  background: #eeeeee
  color: #333333
  width: 520px
  margin: 0 auto
  -webkit-font-smoothing: antialiased

#app
  background: #fff
  padding: 20px
  margin-bottom: 40px
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0
  border-radius(5px)

  a
    color: #333
    text-decoration: none

  p
    padding: 5px 0
    margin: 0

  h1, h2, h3, h4, h5
    margin: 5px 0
    font-family: "Helvetica Neue", "Helvetica"

  h1
    font-size: 24px

  .success, .warning, .error
    border: 1px solid
    margin: 0 0 0 0
    padding: 15px 10px 15px 50px
    background-repeat: no-repeat
    background-position: 10px center

  .error
    color: #D8000C
    background-color: #FFBABA
    background-image: url('/img/error.png')

form.users
  background: rgba(0, 0, 0, 0.1)
  border-radius: 3px
  padding: 10px 15px

  div
    //padding: 10px 0 0 0
    //float: left
    clear: left

  label
    width: 140px
    float: left
    clear: right
    //color: #666
    font-weight: bold
